doctype html
html
	head
		title= _path.match(/[-a-zA-Z0-9@:%_\+]{4,256}(?=\.[html|php])/g)

		!= css('/')

	body

		h1= post.title
		h3= post.category
		span= post.tags + ' | ' 
		span= post.date.toDateString()

		block content

		a(href='/') &laquo; back to index
		!= js('/')
