---
layout: default
title:  home
---

.loop-wrap
  .masonry
    each work in site.work
      a.masonry__brick.category--.=work.category(href="= work.url")
        h2.masonry__brick--title= work.title
        em.masonry__brick--date= work.date
        img.masonry__brick--cover
    each post in site.posts
      a.masonry__brick.category--=post.category(href="= post.url")
        h2.masonry__brick--title= post.title
        em.masonry__brick--date= post.date
        img.masonry__brick--cover
